<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/header/common-header :: head(~{::title})}">
    <meta charset="UTF-8">
    <title th:text="${bookDetailResponse.title}"></title>
</head>
<body>
<nav th:replace="~{layouts/navbar :: nav}"></nav>

<main class="content container py-5">
    <section class="mb-4 shadow-sm">
        <article class="card">
            <div class="row g-0">
                <figure class="col-8 mb-0">
                    <img src="#" class="img-fluid rounded-start" alt="Book Cover">
                    <figcaption class="visually-hidden"></figcaption>
                </figure>
                <div class="col-4 d-flex align-items-center">
                    <div class="card-body">
                        <header>
                            <h5 class="card-title" th:text="${bookDetailResponse.title}"></h5>
                        </header>
                        <p class="card-text">남은 수량: <span class="text-success fw-bold" th:text="${bookDetailResponse.quantity}"></span></p>
                        <form th:if="${memberLoanAccessStatus == T(com.example.library.library_management.domain.constants.LoanAccessStatus).AVAILABLE}"
                              th:action="@{/book-reservations}" method="post" class="mt-3">
                            <input type="hidden" name="bookId" th:value="${bookDetailResponse.id}">
                            <button type="submit" class="btn btn-primary">대여 하기</button>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </section>

    <section class="card p-3 shadow-sm">
        <header>
            <h5 class="mb-3">기본 정보</h5>
        </header>
        <table class="table table-borderless mb-0">
            <tbody>
            <tr>
                <th scope="row" style="width: 150px;">저자</th>
                <td th:text="${bookDetailResponse.author}"></td>
            </tr>
            <tr>
                <th scope="row">ISBN</th>
                <td th:text="${bookDetailResponse.isbn}"></td>
            </tr>
            <tr>
                <th scope="row">출시일자</th>
                <td th:text="${#temporals.format(bookDetailResponse.releaseDate, 'yyyy년 MM월 dd일')}"></td>
            </tr>
            <tr>
                <th scope="row">페이지 수</th>
                <td th:text="${bookDetailResponse.page}"></td>
            </tr>
            </tbody>
        </table>
    </section>

    <h2 class="mt-4">댓글 추가</h2>

    <div class="card mb-4">
        <div class="card-body">
            <form id="commentForm" th:object="${commentCreateRequest}" th:action="@{/comments}" th:method="post">
                <div class="mb-3">
                    <label th:for="content" class="form-label">댓글 작성</label>
                    <textarea class="form-control" th:field="*{content}" rows="3" placeholder="댓글을 입력하세요."></textarea>
                    <p id="content-error" class="text-danger"></p>
                    <input type="hidden" id="bookId" name="bookId" th:value="${bookDetailResponse.id}">
                    <input type="hidden" id="username" name="username" th:value="${memberSessionDto.username}">
                </div>
                <button type="submit" class="btn btn-primary">작성하기</button>
            </form>
        </div>
    </div>

    <div id="commentList"></div>
</main>

<footer th:replace="~{layouts/footer :: footer}"></footer>
</body>

<script>
    $(document).ready(function () {
        const bookId = $('#bookId').val();

        const queryString = window.location.search;

        const urlParams = new URLSearchParams(queryString);

        const page = urlParams.get('page') || 1;

        $.ajax({
            type: "get",
            url: "/comments",

            data: {
                "page" : page,
                "bookId" : bookId
            },

            success: function (res) {
                $('#commentList').html(res);
            },

            error: function () {
                console.log("comment list rendering error");
            }
        })
    })

    $('#commentForm').submit(function(e) {
        e.preventDefault();

        const commentData = new FormData(this);

        $.ajax({
            type: "post",
            url: "/comments",

            data: commentData,

            contentType: false,
            processData: false,

            success: function (res) {
                $('#commentList').replaceWith(res);
                $('#content').val('');
            },

            error: function () {
                $('#content-error').text('댓글 입력은 필수입니다.');
            }
        })
    })

</script>
</html>
