<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/header/common-header :: head(~{::title})}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="~{layouts/navbar :: nav}"></nav>

<main class="container content mt-4">
    <section>
        <h2 class="mb-4">도서조회</h2>
        <form th:action="@{/books}" th:method="get" class="mb-4">
            <div class="input-group">
                <input type="text" name="title" class="form-control rounded" placeholder="도서 이름 입력">
                <button class="btn btn-primary ms-2 rounded" type="submit">검색</button>
            </div>
        </form>
    </section>

    <section class="row row-cols-1 row-cols-md-3 g-4">
        <article class="col" th:each="book : ${books}">
            <div class="card h-100 shadow-sm">
                <div class="card-img-top bg-secondary text-white d-flex align-items-center justify-content-center" style="height: 200px;"></div>
                <a th:href="@{|/books/${book.id}|}" class="text-decoration-none text-dark">
                    <div class="card-body">
                        <header>
                            <h5 class="card-title" th:text="${book.title}"></h5>
                        </header>
                        <p class="card-text">
                            저자: <span th:text="${book.author}"></span>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                출판일:<span th:text="${book.releaseDate}"></span>
                            </small>
                        </p>
                    </div>
                </a>

                <div class="card-footer d-flex justify-content-end" th:if="${memberSessionDto?.isAdmin}">
                    <a th:href="@{|/books/${book.id}/edit|}" class="btn btn-warning btn-sm me-2">수정 하기</a>
                    <form th:action="@{|/books/${book.id}|}" th:method="delete" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm">삭제 하기</button>
                    </form>
                </div>

            </div>
        </article>
    </section>
</main>

<nav aria-label="Page navigation example" class="mt-4">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:if="${hasPreviousPage}">
            <a class="page-link" th:href="@{/books(page=${currentPage - 1})}">
                <span aria-hidden="true">이전</span>
            </a>
        </li>
        <li class="page-item active">
            <span class="page-link" th:text="${currentPage}">1</span>
        </li>
        <li class="page-item" th:if="${hasNextPage}">
            <a class="page-link" th:href="@{/books(page=${currentPage + 1})}">
                <span aria-hidden="true">다음</span>
            </a>
        </li>
    </ul>
</nav>

<footer th:replace="~{layouts/footer :: footer}"></footer>
</body>
</html>
